@using Tariff.Models
@model Tariff.Models.Rate


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @{
            Html.RenderPartial("RateDataSet", Model);
        }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
