@model Tariff.Models.Rate

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @{
            Html.RenderPartial("RateDataSet", Model);
}
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
