@model Tariff.Models.ParamType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @{
           Html.RenderPartial("ParamTypeDataSet", Model);
        }

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>