@{
    ViewBag.Title = "About";
}

<h2>Автор: Пузанов Кирилл Владимирович</h2>
    <h2>группа ПОИС1709в1</h2>
    <h2>Институт повышения квалификации и переподготовки</h2>
    <h2>в области технологий информатизации и управления БГУ</h2>
