@{
    ViewBag.Title = "About";
}
<h2 class="top">@ViewBag.Title:</h2><br>

<p class="h2">Автор: Пузанов Кирилл Владимирович, группа ПОИС1709в1, кафедра Экономической кибернетики и информатики, 
    Институт повышения квалификации и переподготовки в области технологий информатизации и управления БГУ</p>
