@{
    ViewBag.Title = "Help";
}
<h2 class="top">@ViewBag.Title:</h2><br>

<h2>
    Click checkboxes and Compare button to view structured data about corresponding rates.
    You also can:add new rate, edit rates already available, create new parameter for rate
    by clicking on corresponding links above the rates table.
</h2>