@{
    ViewBag.Title = "Help";
}

<h2>
    Click checkboxes and Compare button to view structured data
    about corresponding rates.
</h2>
<h2>By clicking on corresponding links above the rates table you also can:</h2>

<h2>
    <ul>
        <li>add new rate</li>
    </ul>
</h2>
<h2>
    <ul>
        <li>edit rates already available</li>
    </ul>
</h2>
<h2>
    <ul>
        <li>create new parameter for rate.</li>
    </ul>
</h2>